
corsh/corsh.iml
corsh/.settings/
corsh/.project
corsh/bin/

.idea/
.metadata/
out/
out/production/
fitnessLandscapeCode/
*.classpath
*.class
*.prefs
*.project

/*.txt
/*.csv
results/DavidNov2015/

corsh/*.txt